*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
  background-color: black;
  position: fixed;
  z-index: 3;
  width: 220px;
  margin-left: 30px;
  margin-top: 60px;
}

.header ul {
    margin: 0 0 0 0 ;
    padding: 3px;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.nav-links a {
    display: block;
    font-size: 1.6rem;
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'Londrina Solid', cursive; 
    color:white;
    letter-spacing: 1px;
}   

.burger {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 80px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    padding: 10px;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }
    .burger {
        display: inline;
    }
    .logo{
        display: none;
    }
    .header{
        width: 70vw;
    }

    .header .nav-links a{
        align-items: center;
        font-size: 2rem;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        opacity: 0.5;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(170%);
        transition: tranform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
        padding: 2vh 0;
    }

    .nav-active {
        transform: translate(0%);
        width: 100%;
    }
}

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
        
    }
  
.cross .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.cross .line2{
    opacity: 0;
}
.cross .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
